#kurigram==2.2.25
wzgram==3.1.1
#pyrofork==2.3.45
tgcrypto
motor
aiohttp
psutil
dnspython
uvloop
telegraph
python-dotenv
speedtest-cli
#pyromod
numpy
scipy
Pillow
pyloudnorm
mutagen
cloudscraper
niquests
lxml
curl_cffi
yt-dlp[default,curl-cffi]
